<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>
    <!-- 加载spring配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <!-- 监听器 加载spring配置文件 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--<servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>*.js</url-pattern>
       <url-pattern>*.css</url-pattern>
       <url-pattern>/assets/*"</url-pattern>
       <url-pattern>/images/*</url-pattern>
    </servlet-mapping>-->
    <!--spring mvc配置-->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-servlet.xml</param-value>&nbsp; 默认
        </init-param>
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- 加载log4j的配置文件log4j.properties -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    <!-- 设定刷新日志配置文件的时间间隔，这里设置为10s -->
    <context-param>
        <param-name>log4jRefreshInterval</param-name>
        <param-value>10000</param-value>
    </context-param>
    <!-- 加载Spring框架中的log4j监听器Log4jConfigListener -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!-- 为避免项目间冲突，定义唯一的 webAppRootKey -->
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>scheduleProject</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--欢迎界面-->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <!--<welcome-file>index.jsp</welcome-file>-->
    </welcome-file-list>

    <!--<filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.magic.filter.LoginFilter</filter-class>
        <init-param>
            <param-name>noFilterUrl</param-name>&lt;!&ndash; 对登录页面不进行过滤  &ndash;&gt;
            <param-value>/login/toLoginPage.htm;/login/userLogin.htm</param-value>
        </init-param>
        <init-param>
            <param-name>includeStrings</param-name> &lt;!&ndash;只对指定过滤参数后缀进行过滤&ndash;&gt;
            <param-value>.do;.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>redirectUrl</param-name> &lt;!&ndash;未通过跳转到登录界面&ndash;&gt;
            <param-value>/login/toLoginPage.htm</param-value>
        </init-param>
        <init-param>
            <param-name>disableTestFilter</param-name> &lt;!&ndash;Y:启用过滤器 N:不启用过滤器&ndash;&gt;
            <param-value>Y</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <!--springMVC EncodingFilter-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>spring</servlet-name>
    </filter-mapping>
    <!--系统错误页面自动跳转页面-->
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/exception.jsp</location>
    </error-page>
</web-app>
