<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magic.dao.SharesDealHistoryMapper">
  <!--<resultMap id="BaseResultMap" type="com.magic.entity.SharesDealHistory">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sharesid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accountid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="offerbillid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operatetype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="isdel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updatetime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sharesid, accountid, offerbillid, operatetype, price, num, isdel, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gp_dealhistory
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gp_dealhistory
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.magic.entity.SharesDealHistory">
    insert into gp_dealhistory (id, sharesid, accountid, 
      offerbillid, operatetype, price, 
      num, isdel, createtime, 
      updatetime)
    values (#{id,jdbcType=VARCHAR}, #{sharesid,jdbcType=VARCHAR}, #{accountid,jdbcType=VARCHAR}, 
      #{offerbillid,jdbcType=VARCHAR}, #{operatetype,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{num,jdbcType=INTEGER}, #{isdel,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.entity.SharesDealHistory">
    insert into gp_dealhistory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sharesid != null">
        sharesid,
      </if>
      <if test="accountid != null">
        accountid,
      </if>
      <if test="offerbillid != null">
        offerbillid,
      </if>
      <if test="operatetype != null">
        operatetype,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sharesid != null">
        #{sharesid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null">
        #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="offerbillid != null">
        #{offerbillid,jdbcType=VARCHAR},
      </if>
      <if test="operatetype != null">
        #{operatetype,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.entity.SharesDealHistory">
    update gp_dealhistory
    <set>
      <if test="sharesid != null">
        sharesid = #{sharesid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null">
        accountid = #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="offerbillid != null">
        offerbillid = #{offerbillid,jdbcType=VARCHAR},
      </if>
      <if test="operatetype != null">
        operatetype = #{operatetype,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.entity.SharesDealHistory">
    update gp_dealhistory
    set sharesid = #{sharesid,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=VARCHAR},
      offerbillid = #{offerbillid,jdbcType=VARCHAR},
      operatetype = #{operatetype,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.magic.entity.SharesDealHistory">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sharesid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accountid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="offerbillid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operatetype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updatetime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sharesid, accountid, offerbillid, operatetype, price, num, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gp_dealhistory
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gp_dealhistory
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.magic.entity.SharesDealHistory">
    insert into gp_dealhistory (id, sharesid, accountid, 
      offerbillid, operatetype, price, 
      num, createtime, updatetime
      )
    values (#{id,jdbcType=VARCHAR}, #{sharesid,jdbcType=VARCHAR}, #{accountid,jdbcType=VARCHAR}, 
      #{offerbillid,jdbcType=VARCHAR}, #{operatetype,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{num,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.magic.entity.SharesDealHistory">
    insert into gp_dealhistory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sharesid != null">
        sharesid,
      </if>
      <if test="accountid != null">
        accountid,
      </if>
      <if test="offerbillid != null">
        offerbillid,
      </if>
      <if test="operatetype != null">
        operatetype,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sharesid != null">
        #{sharesid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null">
        #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="offerbillid != null">
        #{offerbillid,jdbcType=VARCHAR},
      </if>
      <if test="operatetype != null">
        #{operatetype,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.entity.SharesDealHistory">
    update gp_dealhistory
    <set>
      <if test="sharesid != null">
        sharesid = #{sharesid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null">
        accountid = #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="offerbillid != null">
        offerbillid = #{offerbillid,jdbcType=VARCHAR},
      </if>
      <if test="operatetype != null">
        operatetype = #{operatetype,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.entity.SharesDealHistory">
    update gp_dealhistory
    set sharesid = #{sharesid,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=VARCHAR},
      offerbillid = #{offerbillid,jdbcType=VARCHAR},
      operatetype = #{operatetype,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.magic.entity.SharesDealHistory">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sharesid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="accountid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="offerbillid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="operatetype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sharesid, accountid, offerbillid, operatetype, price, num, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gp_dealhistory
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gp_dealhistory
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.magic.entity.SharesDealHistory">
    insert into gp_dealhistory (id, sharesid, accountid, 
      offerbillid, operatetype, price, 
      num, createtime)
    values (#{id,jdbcType=VARCHAR}, #{sharesid,jdbcType=VARCHAR}, #{accountid,jdbcType=VARCHAR}, 
      #{offerbillid,jdbcType=VARCHAR}, #{operatetype,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{num,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.magic.entity.SharesDealHistory">
    insert into gp_dealhistory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sharesid != null">
        sharesid,
      </if>
      <if test="accountid != null">
        accountid,
      </if>
      <if test="offerbillid != null">
        offerbillid,
      </if>
      <if test="operatetype != null">
        operatetype,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sharesid != null">
        #{sharesid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null">
        #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="offerbillid != null">
        #{offerbillid,jdbcType=VARCHAR},
      </if>
      <if test="operatetype != null">
        #{operatetype,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.magic.entity.SharesDealHistory">
    update gp_dealhistory
    <set>
      <if test="sharesid != null">
        sharesid = #{sharesid,jdbcType=VARCHAR},
      </if>
      <if test="accountid != null">
        accountid = #{accountid,jdbcType=VARCHAR},
      </if>
      <if test="offerbillid != null">
        offerbillid = #{offerbillid,jdbcType=VARCHAR},
      </if>
      <if test="operatetype != null">
        operatetype = #{operatetype,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.magic.entity.SharesDealHistory">
    update gp_dealhistory
    set sharesid = #{sharesid,jdbcType=VARCHAR},
      accountid = #{accountid,jdbcType=VARCHAR},
      offerbillid = #{offerbillid,jdbcType=VARCHAR},
      operatetype = #{operatetype,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>-->
</mapper>